@font-face {
    font-family: mojangles;
    src: url(../this-that/Fonts/mojangles.ttf);
}

html {
    font-family: mojangles;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: calc(0%) calc(0%) calc(0%) calc(0%);
    padding: calc(0%) calc(0%) calc(0%) calc(0%);
}

body {
    font-family: mojangles, Fallback, Impact;
    background-image: url(../resources/full_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    margin: calc(0%) calc(0%) calc(0%) calc(0%);
    padding: calc(0%) calc(0%) calc(0%) calc(0%);
}

div#header-section {
    height: calc(7%);
    width: calc(100%);
    margin: calc(0%) calc(0%) calc(1%) calc(0%);
    padding: calc(4%) calc(0%) calc(0%) calc(0%);
}

h1#ide-title {
    font-size: 2.6em;
    margin: 0em 0em 0em 0em;
    padding: calc(0%) calc(0%) calc(0%) calc(0%);
    height: calc(100%);
    width: calc(100%);
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

div#text-section {
    width: calc(90%);
    height: calc(72%);
    max-height: 660px; /* This sets the maximum area for scrolling to begin */
    background-image: url(../resources/full_foreground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: calc(0%) calc(3%) calc(0%) calc(3%);
    padding: calc(2%) calc(2%) calc(2%) calc(2%);
}

div.text-group {
    clear:left;
    width: calc(100%);
    height: 216px;
    margin: calc(0%) calc(0%) calc(0%) calc(0%);
    padding: calc(0%) calc(0%) calc(0%) calc(0%);
}

textarea {
    color: white;
    font-size: 1.6em;
    display: block;
    background-image: url(../resources/textbox.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: calc(85%);
    height: 192px;
    margin: calc(0%) calc(0%) calc(0%) calc(0%);
    padding: 10px calc(0%) 0% 10px;
}

button {
    font-family: mojangles;
    font-weight: bold;
    background-image: url(../resources/button.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0% 0% 0% 0%;
    width: calc(100%);
    height: 41px;
}

div.button-group {
    float: right;
    width: calc(13%);
    height: calc(100%);
    margin: calc(0%) calc(0%) calc(0%) calc(0%);
    padding: calc(0%) calc(0%) calc(0%) calc(0%);
    align-items: center;
}

div.button-group button {
    display: block;
    margin: calc(1em) 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.run-button, .remove-button {

}

button:hover {
    background-image: url(../resources/buttonHover.png);
}

button:active {
    background-image: url(../resources/buttonPress.png);
}

div#bottom-section {
    height: calc(10%);
    width: calc(90%);
    margin: calc(0%) calc(3%) calc(0%) calc(3%);
    padding: calc(4px) calc(0%) calc(4px) calc(0%);
    text-align: justify;
}

#run-all-button, #add-button {
    font-family: mojangles;
    font-weight: bold;
    background-image: url(../resources/button.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1em 0em 0em calc(25%);
    width: 117px;
    height: 41px;
}

#run-all-button:hover, #add-button:hover, .run-button:hover, .remove-button:hover {
    background-image: url(../resources/buttonHover.png);
}

#run-all-button:active, #add-button:active, .run-button:active, .remove-button:active {
    background-image: url(../resources/buttonPress.png);
}










































