@font-face {
    font-family: mojangles;
    src: url(./resources/fonts/mojangles.ttf);
}

@font-face {
    font-family: hack;
    src: url(./resources/fonts/Hack-Regular.ttf);
}

html {
    font-family: mojangles;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

body {
    font-family: mojangles, Fallback, Impact;
    background-image: url(./resources/full_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    /* width: 100%; */
    min-height: 100%;
    overflow: hidden;
    margin: 0em 0em 0em 0em;
    padding: 1em 1.6em 1em 1.6em;
    /* margin: 1em 2em 1em 2em;
    padding: 0em 0em 0em 0em; */
}

#header-section {
    margin: 0em 0em 1em 0em;
    padding: 1em 0em 0em 0em;
}

h1#ide-title {
    font-size: 2.6em;
    margin: 0em 0em 0em 0em;
    padding: 0% 0% 0% 0%;
    height: 80%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

button.minecraft-button {
    font-family: mojangles;
    font-weight: bold;
    background-image: url(./resources/button.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0em 0em 0em 0em;
    width: 110px;
    height: 41px;
}

.selector-div {
    align-content: center;
    align-items: center;
    margin: 0.6em 0em 0.6em 0em;
    /* padding: 1em 0em 1em 0em; */
    padding: 0em 0em 0em 0em;
}

.event-selector, select2 {
    display: inline-block;
    margin: auto;
    /* width: auto; */
    height: 64px;
}

#update-button {
    width: 110px;
    height: 40px;
}

#text-section, #lessons-window {
    height: 70%;
    max-height: 640px; /* This sets the maximum area for scrolling to begin */
    background-image: url(./resources/full_foreground.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 1em 0em 0em 0em;
    padding: 1em 1em 1em 1em;
    top: auto;
    bottom: auto;
}

#bottom-section {
    height: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0em 1em 0em;
    padding: 0em 0em 0em 0em;
    bottom: 2em;
}

div.text-group {
    clear:left;
    width: 100%;
    height: 128px;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

div.button-group {
    float: right;
    width: 13%;
    height: 100%;
    margin: 0em 0em 0em 0em;
    padding: 0% 0% 0% 0%;
    align-items: center;
}

div.button-group button {
    display: block;
    margin: 0.1em 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

div.button-group button:nth-child(2) {
    margin: 1em 0% 0% 0%;
}

.run-button, .remove-button {
    margin: auto;
}

button:hover {
    background-image: url(./resources/buttonHover.png);
}

button:active {
    background-image: url(./resources/buttonPress.png);
}

#add-button, #dismiss-button {
    font-family: mojangles;
    font-weight: bold;
    background-image: url(./resources/button.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0em 0em 0em 0em;
    width: 121px;
    height: 44px;
}

#add-button {
    position: absolute;
}

.code-input{
    float: left;
    color: white;
    font-size: smaller;
    font-family: hack;
    text-decoration: none;
    background-color: rgb(69,69,69);
    border: 4px solid black;
    width: 80%;
    resize: vertical; 
    vertical-align: center;
    margin: 0em 0em 0em 0em;
    padding: 0.6em 0.6em 0.6em 0.6em;
}

.code-output{
    display: none;
    float: left;
    color: black;
    font-size: smaller;
    font-family: hack;
    text-decoration: none;
    background-color: grey;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    width: 80%;
    resize: vertical;
    vertical-align: center;
    margin: 0em 0em 0em 1em;
    padding: 0.6em 0.6em 0.6em 0.6em;
}

#faded {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    z-index: 2;
}

#popup-background{
    width: 100%;
    height: 100%;
    position: absolute;
}

#popUp {
    background-image: url(./resources/backgroundPopUp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 55%;
    z-index: 3;
}

h1 {
    margin: 0.5em 0em 0em 0em;
}

#popUp p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em 1em 2em 1em;
    padding: 0.2em 0em 0.2em 0em;
}

#copy-button {
    background-image: url(./resources/copy.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 42px;
    width: 42px;
    margin: 0em 0.5em 0em 0em;
    display: block;
}

#copy-input-div {
    align-content: center;
    align-items: center;
    margin: 0em 0.5em 0em 0.5em;
    display: inline-block;
    clear:both;
}

#myInput {
    display: block;
    float: left;
    clear: both;
    font-size: 1.5em;
    height: 36px;
    margin: 0em 0.2em 0em 0.5em;
}

#dismiss-button {
    display: block;
    clear: both;
    align-items: center;
    align-content: center;
    background-image: url(./resources/button.png);
    margin: auto;
    margin-top: 2em;
}

#back-button {
    margin: 0.5em 0em 0.25em 2em;
}

#back-button {
    width: auto !important;
}

#lessons-window{
    clear: both;
    display: none;
    position: absolute;
    background-image: url(./resources/full_foreground.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    width: 90%;
    height: 40%;
    bottom: 0;
    /* border: 3px solid blue; */
}

#lessons-start-page{
    clear: both;
    text-align: center;
    align-items: center;
}

#run-all-button:hover, #add-button:hover, .run-button:hover, .remove-button:hover, #copy-button:hover, #dismiss-button:hover {
    background-image: url(./resources/buttonHover.png);
}

#run-all-button:active, #add-button:active, .run-button:active, .remove-button:active, #copy-button:active, #dismiss-button:active {
    background-image: url(./resources/buttonPress.png);
}

.nav {
    margin: 0em 0em 0em 1em;
    padding: 0em 0em 0em 0em;
}

.nav ul {
    list-style-type: none;
    margin: 0em 0em 0em 1em;
    padding: 0em 0em 0em 1em;
  }
  
.nav li {
    display: inline;
    padding: 1em;
    text-decoration: none;
}

.nav li a {
    text-decoration: none;
}

li a:active {
    color: green;
}

li a:focus {
    color: rgb(128, 0, 0);
}

li a:hover {
    color: rgb(29, 236, 57);
}

li a:visited {
    color: black;
}



































