@font-face {
    font-family: mojangles;
    src: url(./Fonts/mojangles.ttf);
}

html {
    height: 100%;
}
  
body {
    font-family: mojangles, Fallback, Impact;
    background-image: url(./resources/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#results-title {
    font-family: mojangles, Fallback, Impact;
    text-align: center;
    margin-top: 15px;
}

#events-div {
    padding-left: 50px;
}

h3 {
    font-family: mojangles, Fallback, Impact;
    display: inline-block;
}

#DismissButton {
    background: url(./resources/button.png);
    background-size:100%;
    text-align: center;
    color:white;
    font-family: mojangles, Fallback, Impact;
    font-size: large;
    display: inline-block;
    width: 160px;
    height: 60px;
    position: fixed;
    -webkit-app-region: no-drag;
    background-size: 100%;
    left: 360px;
    bottom: 50px;

  }
  
  #DismissButton.hover, #DismissButton.focus {
    background: url(./resources/buttonHover.png);
  }
  
  #DismissButton.active {
    background: url(./resources/buttonPress.png);
  }



